<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <title>Document</title>
    
</head>

<body>
    <header>
        <img class="logo" src="/docimages/LotusHospital.svg" alt="logo" height="100" width="100">
        <nav>
            <ul class="nav_links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>

    </header>

    <div class="main">
        <img class="doctor" src="/docimages/ambulancedriver.png" alt="doctor" height="600" width="500">
        <div class="signup-wrap">
            <div class="signup">
                <h3 id="account">Log In</h3>
                <h3 id="type">(Nurse)</h3>
                <form action="/nurse/login" method="post">

                    <div class="line-wrap">
                        <input class="long-input" id="id" name="username" type="email" placeholder=" Email">
                    </div>

                    <div class="line-wrap">
                        <input class="long-input" id="" name="password" type="password" placeholder=" Password">
                    </div>

                    <input type="submit" value="Log In" id="submitbutton">
                    <p>Don't have an account? <a href="/nurse/register"><span>Sign Up</span></a></p>
                </form>
            </div>
        </div>
    </div>
</body>

</html>