<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="nursedash.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Dashboard</title>
</head>

<body>
    <header>
        <img class="logo" src="../images/Lotus Hospital.svg" alt="logo" height="100" width="100">
        <nav>
            <ul class="nav_links">
                <li><a href="nursedash.html">Home</a></li>
                <li><a href="../aboutus.html">About Us</a></li>
                <li><a href="../contactus.html">Contact Us</a></li>
                <li><a href="../homepage.html"><i class="fa fa-sign-out"></i></a></li> 
            </ul>
        </nav>

    </header>

    <!-- <img src="../images/doctor (2) 1.png" id="doctor" height="450" width="450"> -->
    <div class="main">
        

        <div class="row">
            <a href=""><button class="btn" id="GenerateReports"><img src="../icons/stethoscope 2.svg" width="40" height="40"><p>Generate Reports</p></button></a>
            <a href=""><button class="btn" id="ChatWithFamily"><img src="../icons/copy-writing 2.svg" width="40" height="40"><p>Chat With Family</p></button></a>
        </div>

    </div>
</body>

</html>