body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* height: 300vh; */
    /* background-color: #24252A; */
    background: linear-gradient(
      74.24deg,
      #83eaf1 -5.49%,
      rgba(255, 255, 255, 0.78) 7.13%,
      #63a4ff 100.52%
    );
    background-blend-mode: exclusion;
  
    font-family: Karla;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 30px;
    background-color: #b0bcbd;
    /* box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4); */
  }
  
  .logo {
    cursor: pointer;
    margin-right: auto;
    width: 200px;
    height: 50px;
  }
  
  .nav_links li,
  a,
  button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
  }
  
  .nav_links {
    list-style: none;
  }
  
  .nav_links li {
    display: inline-block;
    padding: 0px 20px 0px 20px;
  }
  
  .nav_links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav_links li a:hover {
    color: #0088a9;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  
    background: url("../images/bill1.png"),
      url("../images/medical-report\ 1.png");
    background-attachment: fixed, fixed;
    background-repeat: no-repeat, no-repeat;
    background-size: 500px 500px, 200px 200px;
    background-position: 70px 70px, bottom right;
    -webkit-backdrop-filter: opacity(30%);
    backdrop-filter: url("../icons/stethoscope\ 2.svg");
  
    height: 91vh;
    width: 100vw;
  }
  
  img {
    display: inline;
  }
  
  #port {
    font-size: 20px;
    border-collapse: collapse;
  }
  
  #port th {
    font-weight: 900;
  }
  
  #port th,
  #port td {
    padding: 10px 30px;
    text-align: center;
    margin: 0px;
    height: 50px;
  }
  
  #port tr:nth-child(even) {
    background-color: #D9D9D9;
  }
  
  #port tr:nth-child(odd) {
    background-color: #BFBCBC;
  }
  
  .btn {
    color: #000;
    font-family: Karla;
    font-size: 20px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  
    opacity: 1;
    background: #dce4f0;
    border-radius: 10px;
    cursor: pointer;
  }
  
  #approve{
      background-color: #52CEA0;
      border: none;
  }
  
  #cancel{
      background-color: #CE5252;
      border: none;
  }
  
  .btn img {
    margin-right: 5px;
  }
  
  #appointment {
    margin-top: 100px;
  }
  