<!DOCTYPE html>
<hdtml lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="aboutus.css">
    <title>About Us</title>
</head>

<body>
    <header>
        <img class="logo" src="images/Lotus Hospital.svg" alt="logo" height="100" width="100">
        <nav>
            <ul class="nav_links">
                <li><a href="homepage.html">Home</a></li>
                <li><a href="aboutus.html">About Us</a></li>
                <li><a href="contactus.html">Contact Us</a></li>
            </ul>
        </nav>

    </header>

    <div class="main">
        <div class="wrap">

            <h1>Lotus Hospital</h1>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, fuga temporibus. Doloribus, commodi
                voluptate aliquid neque voluptates, autem fugit eos quidem sint, ipsam quam ipsa voluptatum ipsum fugiat
                iure quo.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ullam aspernatur ex id! Omnis harum
                corporis ipsum porro saepe reprehenderit cupiditate placeat. Vero soluta consequuntur excepturi,
                consequatur a nisi asperiores.</p>
        </div>
    </div>

</body>

</hdtml>