<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="contactus.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
            integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Contact Us</title>
    </head>

    <body>
        <header>
            <img class="logo" src="images/Lotus Hospital.svg" alt="logo" height="100" width="100">
            <nav>
                <ul class="nav_links">
                    <li><a href="homepage.html">Home</a></li>
                    <li><a href="aboutus.html">About Us</a></li>
                    <li><a href="contactus.html">Contact Us</a></li>
                </ul>
            </nav>

        </header>

        <div class="main">
            <div class="ourdetails">
                <h1>Get in Touch</h1>
                <ul>
                    <div class="contactCard">
                        <li><i class="fa-solid fa-location-dot"></i></li>
                        <h3>Our Address:</h3>
                        <p>No. 350, Lokmanya Tilak Road, Crawford Market, Mumbai</p>
                    </div>
                    <div class="contactCard">
                        <li><i class="fa fa-envelope"></i></li>
                        <h3>Our Mailbox:</h3>
                        <a href="mailto:info@gemsports.in">info@gemsports.in</a>
                    </div>
                    <div class="contactCard">
                        <li><i class="fa fa-phone"></i></li>
                        <h3>Our Phone:</h3>
                        <a href="tel:+91-9819134674">+91-9819134674</a>
                    </div>
                </ul>
            </div>
        </div>

    </body>

</html>