<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="homepage.css">
    <title>Lotus Hospital</title>
</head>

<body>
    <header>
        <img class="logo" src="images/Lotus Hospital.svg" alt="logo" height="100" width="100">
        <nav>
            <ul class="nav_links">
                <li><a href="#">Home</a></li>
                <li><a href="aboutus.html">About Us</a></li>
                <li><a href="contactus.html">Contact Us</a></li>
            </ul>
        </nav>

    </header>

    <div class="main">
        <div class="wrap">

            <p>What Best Describes you?</p>

            <a href="patients/patientlogin.html">
                <div class="line-wrap">Patient</div>
            </a>
            <a href="doctors/doctorlogin.html">
                <div class="line-wrap">Doctor</div>
            </a>
            <a href="nurses/nurselogin.html">
                <div class="line-wrap">Nurse</div>
            </a>
            <a href="receptionists/receptionistlogin.html">
                <div class="line-wrap">Receptionist</div>
            </a>
        </div>
    </div>

</body>

</html>