<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/doctorlist.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Doctor List</title>
</head>

<body>
    <header>
        <img class="logo" src="/docimages/LotusHospital.svg" alt="logo" height="100" width="100">
        <nav>
            <ul class="nav_links">
                <li><a href="patientdash.html">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="homepage.html"><i class="fa fa-sign-out"></i></a></li>
            </ul>
        </nav>

    </header>

    <!-- <img src="../images/doctor (2) 1.png" id="doctor" height="450" width="450"> -->
    <div class="main">
        <h1>Appointments</h1>
        <div class="card-wrap">
            <% doctors.forEach(function(doc){%>
                <div class="card">
                    <img src="/docimages/doctor.png" height="100" width="100">
                    <h5><%=doc.fname%></h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci dolor, temporibus ducimus quos totam
                        soluta
                    </p>
                    <a href="/patient/appointments/new"><button class="btn">Schedule Appointment</button></a>
                </div>
            <%});%>
            <!-- <div class="card">
                <img src="/docimages/doctor.png" height="100" width="100">
                <h5>Dr. Preksha De</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci dolor, temporibus ducimus quos totam
                    soluta
                </p>
                <a href="schedule.html"><button class="btn">Schedule Appointment</button></a>
            
            </div>
            <div class="card">
                <img src="/docimages/doctor.png" height="100" width="100">
                <h5>Dr. Preksha De</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci dolor, temporibus ducimus quos totam
                    soluta
                </p>
                <a href="schedule.html"><button class="btn">Schedule Appointment</button></a>
            
            </div> -->
        </div>
    </div>
</body>

</html>