<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" href="/stylesheets/signup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap">
    <title>Signup Doctor</title>
</head>

<body>
    <header>
        <img class="logo" src="../images/Lotus Hospital.svg" alt="logo" height="100" width="100">
        <nav>
            <ul class="nav_links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>

    </header>

    <div class="main">
        <img class="doctor" src="../images/doctor man_Mesa de trabajo 1 1.png" alt="doctor" height="600" width="500">
        <div class="signup-wrap">
            <div class="signup">
                <h3 id="account">Create an Account</h3>
                <h3 id="type">(Doctor)</h3>
                <form action="/doctor/register">
                    <div class="line-wrap">
                        <input class="short-input" id="firstname" type="text" placeholder="First Name" name="fname">
                        <input class="short-input" id="lastname" type="text" placeholder="Last Name" name="lname">
                    </div>
                    <div class="line-wrap">
                        <input class="short-input" type="tel" id="tel" placeholder="Contact No." name="contact">
                        <input class="short-input" id="email" type="email" placeholder="Email">
                    </div>
                    <div class="line-wrap">
                        <input class="long-input" id="id" type="number" placeholder="Doctor ID issued by Hospital" name="doctorid">
                    </div>

                    <div class="line-wrap">
                        <input class="short-input" id="password" type="password" placeholder="Password">
                        <input class="short-input" id="confirmpassword" type="password" placeholder="Confirm Password">
                    </div>
                    <input type="submit" value="Create Account" id="submitbutton" onclick="confirm()">
                    <p>Already have an account? <a href="/doctor/login"><span>Log in</span></a></p>
                </form>
            </div>
        </div>
    </div>

    <script src="app1.js"></script>
</body>

</html>